page-tabs {
  .tabs-ios .tabbar {
    background-color: #333 !important;
  }

  .tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true]{
    color: #c9c9c9;
  }

  .tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
    color: #c9c9c9;
  }
}
